<div>
  <div data-controller="combobox" class="relative w-64">
    <div class="relative">
      <input 
        type="text" 
        data-combobox-target="input" 
        class="w-full px-4 py-2 pr-10 border rounded-lg focus:outline-none focus:ring focus:border-blue-300 bg-white shadow-sm" 
        placeholder="Search framework..."
      >
      <span class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
        &#9662;
      </span>
    </div>
    
    <ul 
      data-combobox-target="list" 
      class="absolute w-full mt-2 bg-white border rounded-lg shadow-lg overflow-hidden z-10" 
      hidden
      role="listbox" id="combobox-list"
    >
      <% items = ["Next.js", "SvelteKit", "Nuxt.js", "Remix", "Astro"] %>
      <% items.each do |item| %>
        <li data-combobox-target="item" class="px-4 py-2 hover:bg-gray-100 cursor-pointer" role="option"><%= item %></li>
      <% end %>
    </ul>
  </div>
</div>
