<%= turbo_stream_from "home-vote" %>
<div class="p-6 min-h-screen">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Voting</h1>
  <% Vote.all.each do |vote| %>
    <%= render partial: "home/vote", locals: { vote: vote } %>
  <% end %>
</div>
