<div id="<%= dom_id reservation %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= reservation.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= reservation.course_category.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">SubCategory:</strong>
    <%= reservation.course_sub_category.name %>
  </div>
</div>
